<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'

a = []

In [2]:
# print the value of a

print(a)

[]

In [5]:
# print the type of a

type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [6]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [7]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [10]:

for language in languages:
    print(language)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [11]:
temp = languages[1]

Print the value of temp and type(temp)

In [13]:

print(temp)
type(temp)

Python

str

Append the element 'Java' in the list

In [14]:

languages.append('Java')

Remove the element 42 from the list and print the list

In [15]:

languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [17]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [18]:

colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [19]:

colors.insert(1, 'Orange')

Print the list

In [20]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [22]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [23]:
colors.extend(colors2)

Print len of colors and its elements

In [24]:

print(len(colors))
colors

7

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [25]:

colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [27]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [28]:

words = sent.split(" ")
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [29]:

words_lower = [word.lower() for word in words]

print("List of lowercase words:", words_lower)

List of lowercase words: ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [31]:
if 'country' in words_lower:
    print("'country' is in the list")
else:
    print("'country' is not in the list")

'country' is not in the list

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [32]:

words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [33]:
x4 = words_lower[0:4]

In [34]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [35]:
x2 = " ".join(x4)
x2

'coronavirus caused lockdowns around'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [36]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [37]:

len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [38]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [39]:

stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [41]:

print(type(stud_grades))
stud_grades
print(type(stud_grades_set))
stud_grades_set

<class 'list'>
<class 'set'>

{'A', 'B', 'C', 'F'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [42]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [43]:

stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [44]:

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [46]:

print(stud_grades_set)
print(len(stud_grades_set))

{'B', 'A', 'C', 'G'}
4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [47]:
colors = ['red','blue','orange'] 
fruits = ['orange','grapes','apples']

Print color and fruits

In [49]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [50]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [51]:

union = colors_set | fruits_set

Find the intersection of both the sets

In [52]:

intersection = colors_set & fruits_set
intersection

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [53]:

diff = fruits_set.difference(colors_set)

In [54]:
diff

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [55]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [56]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [57]:
temp[0] = 11

Set temp1 = tuple(temp)

In [58]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [59]:

for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [60]:

temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [61]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [62]:
city[0]

'Bangalore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [63]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [64]:
cities = (city, city2)

Print cities

In [65]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [67]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [68]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [69]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [70]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [71]:
actor = d['actor']

Print the type of actor

In [72]:
type(actor)

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [73]:
List = d['list']

Print the type of List.

In [74]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [76]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [77]:
d.update(d1)

print d

In [78]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [80]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [81]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [82]:
for i in d:
    print(i, '---->', d[i])

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [86]:

count = {}
for keys in sent:
    count[keys] = count.get(keys, 0) + 1
print(count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}